#form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#user-prompt {
    border: 0.13rem solid #A020F0;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-radius: 0.5rem;
    border-right: 0;
    flex: 7;
    font-size: 0.9rem;
    height: 1rem;
    outline: none;
    padding: 1rem;
    width: 70%;
}

#ask-button {
    background-color: #A020F0;
    border: 0.13rem solid #A020F0;
    border-left: 0;
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
    color: #fff;
    cursor: pointer;
    height: 100%;
    flex: 3;
    outline: none;
    width: auto;
}