#App {
    width: 99vw;
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-side {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#right-side {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}